.article {
  position: relative;
  display: block;
  color: #777;
  height: 100%;
  width: 100%;

  &:hover .article {
    &__title {
      color: #42b983;
    }

    &__image {
      opacity: 0.9;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 180px minmax(auto, 1fr);
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: 100%;
    overflow: hidden;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    transition: opacity 0.3s ease;
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__details {
    padding: 24px;
  }

  &__category {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0 0 0.75rem 0;
    padding: 0 0 0.25rem 0;
    border-bottom: 2px solid #42b983;
    //border-bottom: 2px solid #ebebeb;
  }

  &__title {
    transition: 0.3s ease;
    font-size: 18px;
    line-height: 1.4;
    color: #121212;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__tag {
    font-size: 14px;
    line-height: 1;
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid #ebebeb;
  }
}