.aside {
  display: flex;
  flex-direction: column;
  padding: 16px 0;

  &__lists {
    li {
      color: #ddc051;
      cursor: pointer;
    }
  }

  &__active {
    text-decoration: underline;
    pointer-events: none;
  }
}