.posts {
  &__lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  &__empty {
    text-align: center;
    line-height: 1.2;
    font-weight: 100;
    font-size: 30px;
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    color: #333;
    margin: 60px 0;

    span {
      font-weight: 900;
    }
  }
}