.about {
  margin-top: 100px;

  .title {
    margin-bottom: 50px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    font-size: 16px;
  }

  svg {
    fill: #333;
    margin-right: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .btn--small {
    margin: 3px;
  }
}