.admin-panel {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 100%;

  @media (max-width: 992px) {
    grid-template-columns: 180px 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}