.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: auto;

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
  }

  &__input {
    max-width: 300px;
    width: 100%;
  }

  &__btn {
    margin-top: 8px;
  }

  &__error {
    width: 100%;
    color: #fff;
    padding: 6px 8px;
    background: #ff7c7c;
    border-radius: 5px;
    box-sizing: border-box;
  }
}