html, body, #app {
  height: 100%;
}

body {
  margin: unset;
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

#app {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  color: #2c3e50;

  @media (max-width: 992px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

a {
  color: unset;
  text-decoration: unset;
}

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css";