html, body, #app {
  min-height: 100%;
  //height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #666;
  margin: unset;
}

ul li {
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

a {
  transition: .3s ease;

  &.router-link-exact-active {
    color: #fcdb5a;
    pointer-events: none;
  }
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn {
  position: relative;
  color: rgb(190, 184, 176);
  border: 2px solid #fcdb5a;
  border-radius: 30px;
  font-family: Raleway,sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 28px;
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;

  &:hover {
    color: #4f4a37;
    background: #fcdb5a;
  }

  &--big {
    height: 45px;
  }

  &--yellow {
    color: #4f4a37;
    background-color: #fcdb5a;
    font-size: 12px;
    border-color: #fcdb5a;
    transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;

    &:hover {
      background-color: transparent;
    }
  }

  &--red {
    color: #fff;
    background-color: #c94b4b;
    font-size: 12px;
    border-color: #c94b4b;
    transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;

    &:hover {
      color: #4f4a37;
      background-color: transparent;
    }
  }
}

.router-link {
  &:hover {
    color: #fcdb5a;
  }
}

@for $i from 1 through 20 {
  .mb--#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 1 through 20 {
  .mt--#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 1 through 20 {
  .ml--#{$i} {
    margin-left: #{$i}px;
  }
}

@for $i from 1 through 20 {
  .mr--#{$i} {
    margin-right: #{$i}px;
  }
}