html, body, #app {
  height: 100%;
}

body {
  margin: unset;
  font-family: 'Open Sans', sans-serif;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  //color: #2c3e50;

  @media (max-width: 992px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

a {
  color: unset;
  text-decoration: unset;
}

@for $i from 1 through 20 {
  .mb--#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 1 through 20 {
  .mt--#{$i} {
    margin-top: #{$i}px;
  }
}