.text {
  color: #b3b3b3;
  font-size: 18px;

  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }

  &--open-sans {
    font-family: 'Open Sans', sans-serif;
  }
  &--raleway {
    font-family: 'Raleway', sans-serif;
  }

  &--14 {
    font-size: 14px;
    line-height: (14 / 10);
  }
  &--40 {
    font-size: 40px;
  }
  &--60 {
    font-size: 60px;
  }
  &--white {
    color: #fff;
  }
  
  &--100 {
    font-weight: 100;
  }
  &--400 {
    font-weight: 400;
  }
  &--500 {
    font-weight: 500;
  }
  &--700 {
    font-weight: 700;
  }
  &--900 {
    font-weight: 900;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--sandybrown {
    color: #ddc051;
  }
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  line-height: (40/30);
  font-weight: 900;
  color: #333;
  text-transform: uppercase;
  
  span {
    font-weight: 100;
  }
}

.sub-title {
  line-height: 1.2;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
}

.title-think {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  color: #000;
}

.block-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 900;
  margin-bottom: 20px;
}