.text {
  color: #b3b3b3;
  font-size: 18px;

  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }

  &--sandybrown {
    color: #ddc051;
  }
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  line-height: calc(40px / 30px);
  font-weight: 900;
  color: #333;
  text-transform: uppercase;
  
  span {
    font-weight: 100;
  }
}

.title-small {
  line-height: 1.2;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 20px;
}

.title-think {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #fff;
}

.title-block {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 900;
  margin-bottom: 20px;
}

.title-big-bold {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: 900;
}
