.text {
  color: #b3b3b3;
  font-size: 18px;

  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }

  &--open-sans {
    font-family: 'Open Sans', sans-serif;
  }
  &--raleway {
    font-family: 'Raleway', sans-serif;
  }


  &--14 {
    font-size: 14px;
  }
  &--40 {
    font-size: 40px;
  }
  &--60 {
    font-size: 60px;
  }
  &--white {
    color: #fff;
  }
  
  &--100 {
    font-weight: 100;
  }
  &--400 {
    font-weight: 400;
  }
  &--500 {
    font-weight: 500;
  }
  &--700 {
    font-weight: 700;
  }
  &--900 {
    font-weight: 900;
  }
}

//<h2 class="text--900 text--40 text--raleway mb--20 text--center">Блог</h2>

.title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  span {
    font-weight: 100;
  }
}