.all-articles {

  &__lists-header {
    font-size: 14px;
    color: #333;
    font-weight: 900;
    margin-bottom: 25px;
  }

  &__lists-header,
  &__list {
    display: grid;
    grid-template-columns: 1.5fr 120px 120px 130px 130px;
    grid-gap: 20px;
  }

  &__list-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__list-category {
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 10px;
    line-height: 16px;
  }
  
  &__list-nav {
    text-align: left;
    transition: .3s ease;

    &:hover {
      opacity: .6;
    }
  }

  &__list-nav-edit {
    color: #ddc051;
  }

  &__list-nav-del {
    color: red;
  }
}