.admin-article {
  display: flex;
  flex-direction: column;

  &__preview,
  &__select,
  &__text,
  &__title {
    margin-bottom: 25px;
  }

  &__select {
    text-transform: uppercase;
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}