.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background: center / cover no-repeat url("/media/img/bg/header.webp");
  height: 100%;
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 80px;
  overflow: hidden;

  &__info {
    width: 100%;
    margin-top: auto;
    margin-bottom: 80px;
  }
}