.header {
  position: relative;
  background: center / cover no-repeat url("/media/img/bg/header.webp");
  height: 400px;

  &__info {
    width: 100%;
    margin-top: auto;
    margin-bottom: 80px;
  }
}