.articles {
  &__search {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    .btn {
      margin-left: 20px;
    }
  }

  &__search-inner {
    position: relative;
  }

  &__search-clear {
    position: absolute;
    width: 30px;
    right: 0;
    height: 100%;

    path {
      transition: .3s ease;
    }

    &:hover {
      path {
        fill: #fcdb5a;
      }
    }
  }

  &__search-input {
    padding-right: 30px;
  }

  .input {
    max-width: 300px;
    width: 100%;
  }
}